.projectsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 803px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 16px;
  border-radius: 9px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.imageWrapper {
  display: flex;
  justify-content: center;
}

.header {
  margin-top: 12px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.secondaryText {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  color: #000000;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.linksList{
  display: flex;
  flex-direction: row;
  gap:30px;
}

.linksList a {
  color: #000000;
  text-decoration: none;
  margin-right: 10px;
}

.title{
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: 57.6px;
  text-align: left;
  margin-bottom: 20px;
}

.bottomPart{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}