.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #f5f7f8;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

.logo {
  height: 40px;
  width: 160px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  a {
    color: #000000;
    text-decoration: none;
  }
}

.linkContainer {
  margin-right: 120px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
  }

  .logo {
    width: 120px;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
  }

  .linkContainer {
    margin-right: 0;
  }
}
