/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/widgets/Kuban/kuban.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.kuban_section__tNG3T {
  position: relative;
  background: url(/_next/static/media/goKubanWinter.e2fff3d3.png) no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  margin-bottom: 57px;
  cursor: pointer;
}

.kuban_section__tNG3T::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(
    270deg,
    rgba(2, 71, 183, 0) 6.88%,
    rgba(2, 71, 183, 0.42) 100%
  );
}

.kuban_container__nVcIj {
  position: relative;
  z-index: 1;
  padding-top: 53px;
  padding-bottom: 139px;
  display: flex;
  flex-direction: column;
}

.kuban_subtitle__SxFF4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 8px;
}

.kuban_title__pKdSu {
  font-weight: 800;
  font-size: 96px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  max-width: 608px;
  margin-bottom: 27px;
}

.kuban_text__Wt7kG {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 16px;
  max-width: 503px;
}

.kuban_link__uyWYz {
  background: #fff;
  border-radius: 10px;
  padding: 16px 44px;
  max-width: 503px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #000;
}

@media (max-width: 768px) {
  .kuban_section__tNG3T {
    margin-bottom: 30px;
  }
  .kuban_title__pKdSu {
    font-size: 64px;
  }
  .kuban_container__nVcIj {
    padding-bottom: 203px;
    padding-top: 53px;
  }
}

@media (max-width: 450px) {
  .kuban_title__pKdSu {
    font-size: 40px;
  }
  .kuban_text__Wt7kG {
    font-size: 14px;
  }
  .kuban_container__nVcIj {
    padding-bottom: 235px;
  }
}

