/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/RubricsContent/ui/reklamaBottom.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.reklamaBottom_horizontalAdBlock__ZgOeZ {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #e7e7e7; */
    background: #fff;
    max-height: 450px;
    /* height: 150px; */
    /* margin: 0 50px; */
    width: 100%;
    margin: 30px 0;
    /* position: sticky; */
  }
