/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/shared/ui/Arrow/arrow.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.arrow_svg__1UJLu{
    flex-shrink: 0;
    fill: var(--color-1);
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/widgets/readMore/readMore.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.readMore_section__JF8k_ {
  margin-bottom: 35px;
}

.readMore_title__4UCR5 {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #000;
}

.readMore_list__qTozi {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.readMore_item__de80X {
  padding: 2px 8px;
  border-radius: 5px;
  background: var(--gray);
}

.readMore_item__de80X a {
  display: flex;
  column-gap: 7px;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  color: #000;
  transition: 0.65s ease;
}

.readMore_item__de80X a:hover {
  color: var(--color-1);
}

@media (max-width: 1024px) {
  .readMore_section__JF8k_ {
    margin-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .readMore_title__4UCR5 {
    margin-bottom: 12px;
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .readMore_section__JF8k_ {
    margin-bottom: 50px;
  }
}

